.section-container {
  max-width: var(--max-width);
  padding: 0;
  margin: auto;
}

/* Section header styling */
.section-header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 3.5rem;
  color: green;
}

/* Owner image styling */
.owner-img {
  display: flex;
  width: 100%;
}

.owner {
  position: relative;
  isolation: isolate;
}

/* Before pseudo-element for owner */
.owner::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background-color: rgb(253 242 217);
  z-index: -1;
}

/* About image styling */
.about-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Row for the About section */
.about-row {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 20px;
}

.about-row:nth-child(3) {
  margin-top: 4rem;
}

/* About image inside rows */
.about-image {
  flex: 1;
  width: 100%;
  margin-inline: auto;
}

/* About content inside rows */
.about-content {
  flex: 1;
  text-align: center;
}

/* Span inside content for circular image */
.about-content span {
  margin-inline: auto;
  margin-bottom: 1rem;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
}

.about-content span img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

/* Background color adjustments for specific rows */
.about-row:nth-child(3) .about-content span {
  background-color: rgb(253 242 217);
}

.about-row:nth-child(4) .about-content span {
  background-color: #e8f7fe;
}

.about-row:nth-child(5) .about-content span {
  background-color: #fbebf1;
}

/* H4 content styling */
.about-content-h4 {
  max-width: 450px;
  margin-inline: auto;
  margin-bottom: 1rem;
  line-height: 3rem;
  font-size: 20px;
  font-weight: 600;
  color: rgb(132 162 21);
}

/* Paragraph styling */
.about-content p {
  max-width: 450px;
  margin-inline: auto;
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

/* Media query for larger screens */
@media (width > 768px) {
  .about-row {
    flex-direction: row;
    align-items: center;
  }

  .about-row:nth-child(4) {
    flex-direction: row-reverse;
  }

  .about-image {
    max-width: unset;
    margin-inline: auto;
  }

  .about-content {
    text-align: left;
  }
}
