/* Reset beberapa default gaya */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /* Menambahkan margin: 0 agar tidak ada margin default */
}

footer {
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  margin-top: auto;
}

.footer-p {
  margin-top: 12px;
  text-align: justify;
  margin-right: 15px;
}

.footer-h1 {
  color: rgb(132, 162, 21);
}

.footer-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  flex-basis: 25%;
  padding: 10px;
}

.footer-col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.footer-email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
}

.footer ul li a:hover {
  text-decoration: none;
  color: #34fa02;
}

.footer form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.footer form .fa {
  font-size: 18px;
  margin-right: 10px;
}

.footer form input {
  width: 100%;
  color: #ccc;
  border: 0;
  outline: none;
  margin-right: 10px;
}

.footer .social-icons .fab {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
}

.footer .social-icons .fab:hover {
  color: #fff;
  background-color: red;
  animation: ease-out 2s;
}

.footer hr {
  width: 90%;
  border: 0;
  height: 2px;
  margin: 20px auto;
  background-color: gray;
}

.footer-copyright {
  text-align: center;
}

.footer .underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.footer .underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

/* Keyframes untuk animasi underline */
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
