/* Header section styles */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("/public/images/cat.jpg"); /* Added quotes around the URL */
  background-position: center;
  background-size: cover;
  position: relative;
}

/* Button styles */
.button-header {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid white;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.button-header:hover {
  background: #e3b6b6;
}

/* Header text styles */
.h1-text {
  color: rgb(132 162 21); /* Fixed color notation */
  font-size: 19px;
  font-weight: bold;
}

/* Text box container */
.text-box {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.text-box h1 {
  font-size: 50px;
  margin-top: 110px;
}

.text-box p {
  margin: 10px auto;
  font-weight: 100;
}
