@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif; /* Removed unnecessary quotes */
}

.logo {
  font-weight: bold;
  color: #32f025;
  font-size: 30px;
  padding-left: 0;
  padding-top: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* shorthand hex color */
  padding: 2% 5%;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #b22727;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav ul li a:hover {
  color: #df174d;
}

nav ul li a.active {
  color: #34fa02;
}

.btn-primary,
.btn-secondary {
  font-family: Poppins, sans-serif; /* Removed unnecessary quotes */
  width: 150px;
  text-align: center;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 12px;
  border: 0;
  color: #fff; /* shorthand hex color */
  background-color: #5ace56;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #e14242;
  transform: scale(1.05);
}

.btn-secondary:hover {
  background-color: #e14242;
  transform: scale(1.05);
}
