.service-section {
  width: 100%;
  display: grid;
  place-items: center;
}

.section-heading-service {
  color: green;
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
}

.row-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column-service {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  width: 100%;
  padding: 0 1em 1em; /* Fixed redundant padding */
  text-align: center;
}

.card-service {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background:
  
  linear-gradient(
    #fff 0.5,
    rgba(132 162 21 / 100%) 0.5
  );
  
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0 0 0 / 12%); /* Fixed rgba alpha notation */
  cursor: pointer;
  transition: 0.5s;
}

.h3-service {
  font-size: 20px;
  font-weight: 600;
  color: rgb(132 162 21);
  margin: 1em 0;
}

.p-service {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.icon-wrapper-service {
  background-color: rgb(132 162 21);
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #fff; /* Shortened hex color */
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.card-service:hover {
  background-position: 0 100%;
}

.card-service:hover .icon-wrapper-service {
  background-color: #fff; /* Shortened hex color */
  color: #32f025;
}

.card-service:hover .h3-service {
  color: #fff; /* Shortened hex color */
}

.card-service:hover .p-service {
  color: #f0f0f0;
}
