.register {
  display: flex;
  padding-top: 81px;
  justify-content: center;
  align-items: center;
  background-image: url("/public/images/owner1.jpg");
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
}

.card-register {
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  border: 1px solid rgba(255 255 255 / 50%);
  background: #fff;
  backdrop-filter: blur(10px);
}

.register-title {
  color: var(--darker-grey, #212121);
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form-group {
  width: 350px;
  text-align: left;
}

.form-group label {
  font-size: 1em;
  color: #333;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background-color: transparent;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signup-text {
  display: flex;
  gap: 8px;
  color: var(--darker-grey, #212121);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
}

.login-link {
  color: var(--darker-grey, #212121);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login-link:hover {
  text-decoration: underline;
}

.message-success {
  color: #28a745;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  text-align: center;
}

.message-error {
  color: #dc3545;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  text-align: center;
}
